@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&display=swap");

.container {
  padding-left: 5vw;
  padding-right: 5vw;
}
.main {
  padding-top: 1vh;
  padding-bottom: 1vh;
  min-height: 100vh;
}
.site_font {
  font-family: "Roboto", sans-serif;
}
.btn_font {
  font-size: 2rem;
}
