@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&display=swap");
.container {
  padding-left: 2vw;
  padding-right: 2vw;
}
.main {
  padding-top: 1vh;
  padding-bottom: 1vh;
  min-height: 100vh;
}
.site_font {
  font-family: "Roboto", sans-serif;
}
.btn_font {
  font-size: 2rem;
}
@media only screen and (min-width: 1024px) {
  .desktop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .desktop_container {
    width: 50vw;
  }
  .desktop_container_small {
    width: 40vw;
    max-width: 600px;
  }
}
